.react-tipsy {
  position: absolute;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1070;
}
.react-tipsy.top {
  margin-top: -5px;
  padding: 5px 0;
}
.react-tipsy.right {
  margin-left: 3px;
  padding: 0 5px;
}
.react-tipsy.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.react-tipsy.left {
  margin-left: -3px;
  padding: 0 5px;
}
.react-tipsy-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #FFFFFF;
  text-align: center;
  background-color: #3a3939;
  border-radius: 4px;
}
.react-tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.react-tipsy.top .react-tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #3a3939;
}
.react-tipsy.right .react-tipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #3a3939;
}
.react-tipsy.left .react-tipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #3a3939;
}
.react-tipsy.bottom .react-tipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #3a3939;
}
